[submodule "cmake/external/json"]
	path = cmake/external/json
	url = https://github.com/nlohmann/json.git
[submodule "cmake/external/googletest"]
	path = cmake/external/googletest
	url = https://github.com/google/googletest.git
[submodule "cmake/external/onnx"]
	path = cmake/external/onnx
	url = https://github.com/onnx/onnx.git
[submodule "cmake/external/protobuf"]
	path = cmake/external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
