[submodule "cmake/external/json"]
	path = cmake/external/json
	url = https://github.com/nlohmann/json.git
[submodule "cmake/external/mmpack"]
	path = cmake/external/mmpack
	url = https://github.com/xsdnn/mmpack.git
	branch = master

