# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
neuralnetwork/neuralnetwork.sln
neuralnetwork/neuralnetwork.vcxproj
neuralnetwork/neuralnetwork.vcxproj.filters
neuralnetwork/neuralnetwork.vcxproj.user
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db-shm
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db-wal
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.opendb
neuralnetwork/.vs/neuralnetwork/v17/.suo

.vs/
.libraries/
neuralnetwork/main.cpp
neuralnetwork/x64/Debug/neuralnetwork.log
neuralnetwork/x64/Debug/neuralnetwork.pdb
neuralnetwork/x64/Debug/vc143.idb
neuralnetwork/x64/Debug/vc143.pdb
neuralnetwork/x64/Debug/neuralnetwork.tlog/CL.command.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/CL.read.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/CL.write.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link.command.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link.read.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link.read.2.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link.write.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link-cvtres.read.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link-cvtres.write.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link-rc.read.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/link-rc.write.1.tlog
neuralnetwork/x64/Debug/neuralnetwork.tlog/neuralnetwork.lastbuildstate
neuralnetwork/x64/Debug/neuralnetwork.tlog/unsuccessfulbuild
neuralnetwork/x64/Debug/neuralnetwork.exe.recipe
neuralnetwork/x64/Debug/neuralnetwork.ilk
neuralnetwork/x64/Debug/neuralnetwork.vcxproj.FileListAbsolute.txt
neuralnetwork/Производительность.pyperf
neuralnetwork/x64/Debug/espD4CC.tmp
neuralnetwork/x64/Debug/neuralnetwork.Build.CppClean.log
neuralnetwork/enc_temp_folder/
neuralnetwork/x64/Debug/test_classification_1.obj.enc
