# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
neuralnetwork/neuralnetwork.sln
neuralnetwork/neuralnetwork.vcxproj
neuralnetwork/neuralnetwork.vcxproj.filters
neuralnetwork/neuralnetwork.vcxproj.user
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db-shm
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.db-wal
neuralnetwork/.vs/neuralnetwork/v17/Browse.VC.opendb
neuralnetwork/.vs/neuralnetwork/v17/.suo

.vs/
