# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
xsDNN/neuralnetwork.sln
xsDNN/neuralnetwork.vcxproj
xsDNN/neuralnetwork.vcxproj.filters
xsDNN/neuralnetwork.vcxproj.user
xsDNN/.vs/neuralnetwork/v17/Browse.VC.db
xsDNN/.vs/neuralnetwork/v17/Browse.VC.db-shm
xsDNN/.vs/neuralnetwork/v17/Browse.VC.db-wal
xsDNN/.vs/neuralnetwork/v17/Browse.VC.opendb
xsDNN/.vs/neuralnetwork/v17/.suo

.vs/
.libraries/
xsDNN/main.cpp
xsDNN/x64/Debug/neuralnetwork.log
xsDNN/x64/Debug/neuralnetwork.pdb
xsDNN/x64/Debug/vc143.idb
xsDNN/x64/Debug/vc143.pdb
xsDNN/x64/Debug/neuralnetwork.tlog/CL.command.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/CL.read.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/CL.write.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link.command.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link.read.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link.read.2.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link.write.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link-cvtres.read.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link-cvtres.write.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link-rc.read.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/link-rc.write.1.tlog
xsDNN/x64/Debug/neuralnetwork.tlog/neuralnetwork.lastbuildstate
xsDNN/x64/Debug/neuralnetwork.tlog/unsuccessfulbuild
xsDNN/x64/Debug/neuralnetwork.exe.recipe
xsDNN/x64/Debug/neuralnetwork.ilk
xsDNN/x64/Debug/neuralnetwork.vcxproj.FileListAbsolute.txt
xsDNN/Производительность.pyperf
xsDNN/x64/Debug/espD4CC.tmp
xsDNN/x64/Debug/neuralnetwork.Build.CppClean.log
xsDNN/enc_temp_folder/
xsDNN/x64/Debug/test_classification_1.obj.enc
.idea/
.cmake-build-debug/
cmake-build-debug/.cmake/api/v1/query/

cmake-build-debug/Testing/Temporary/LastTest.log

cmake-build-debug/

Doxygen/

xsDNN-models/

build/
